<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900" rel="stylesheet">

  <%= stylesheet_link_tag :site, media: "screen" %>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

  <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
</head>

<body>

<div class="container">

<header>
  <h2>Home</h2>

  <nav class="social-nav">
    <div class="social-nav__item">
      <a href="#" class="social-nav__link">twitter</a>
    </div>
    <div>
      <a href="#">github</a>
    </div>
    <div>
      <a href="#">codepen</a>
    </div>
    <div>
      <a href="#">rss</a>
    </div>
  </nav>
</header>

<br />
<br />
<br />

<main>
  <h2 class="section__label">Latest</h2>

  <div class="post-box">
  <% blog.articles[0...5].each do |article| %>
    <article class="post">
      <div class="post__title"><%= link_to article.title, article, class: "post__link" %></div>
      <div class="post__date"><%= article.date.strftime('%A, %B %e, %Y') %></div>
      <div class="post__summary">
        <%= article.data.summary %>
        <%= link_to 'Read More', article, class: "post__more" %>
      </div>
    </article>
  <% end %>
  </div>

</main>

<aside>
  <h2>Tags</h2>
  <ul>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </ul>

  <br />
  <br />

  <h2>By Year</h2>
  <ul>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
  </ul>
</aside>

<br />
<br />
<br />

<!--
<div id="main" role="main">
  <%# = yield %>
</div>
-->

<br />
<br />
<br />

<footer>
  footer
</footer>

</div><!-- /.container -->

</body>

</html>

